<%= form_for(@bookmark, :html => {:multipart => true}) do |f| %>
    <div class="form-container">
        <%= f.label :name %>
        <%= f.text_field :name, :required => true %>

        <%= f.label :image %>
        <%= f.cl_image_upload :image %>

        <%= f.submit %>
    </div>    
<% end %>