<h1 class="h1-top">Result</h1>


<div class="book-info-container">
    <%= image_tag @image, :class => 'book-show-img' %>
    <ul>
        <li>Title: <%= @title if present? %></li>
        <li>Author: <%= @author if present? %></li>
        <li>Published date: <%= @published.to_date.strftime '%e %B, %Y' if present? %></li>
        <li>Page count: <%= @pages if present? %></li>
        <li>Language: <%= @language if present? %></li>
    </ul>
</div>

<% if @current_user.bookmarks.present? %>
    <div class="bookmark-form">
        <%= form_tag bookmarks_add_path do %>
            <%= select_tag(:bookmark, options_for_select(@current_user.bookmarks.pluck(:name, :id))) %>

            <%= hidden_field_tag :image, @image %>
            <%= hidden_field_tag :title, @title %>
            <%= hidden_field_tag :author, @author %>
            <%= hidden_field_tag :published, @published %>
            <%= hidden_field_tag :pages, @pages %>
            <%= hidden_field_tag :language, @language %>

            <%= button_tag 'Add to bookmark', :class => 'add-book-btn' %>
        <% end %>
    </div>
<% end %>

<div class="back-btn"><%= link_to (button_tag 'Back'), root_path %></div>